@import 'html-hint';

$color-white: #FFF;
$color-black:  #29303b;

$color-primary-red:       #F45063;
$color-primary-red-light: #Fd7579;


$color-primary-gray-dark:  #58595b;
$color-primary-gray: #9b9b9b;
$color-primary-gray-light: #DBDCDD;

$color-secondary-orange:  #FF9E62;
$color-secondary-yellow:  #FFDA7C;
$color-secondary-green:   #4BDEB9;
$color-secondary-blue:    #4ac7f3;

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.u-height-full {
    height: 100%;
}

.restaurants {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start; 

    &__list {
        flex: 1;
    }

    &__item {
        padding: 2rem;
        border: 1px solid gray;
        border-radius: 3px;
        text-align: center;
        
        &:hover,
        &--selected {
            background-color: $color-primary-red;
            color: white;
            font-size: 2rem;
        }
        margin: 2rem;
    }

    &__map {
        flex: 2;
        width: 100%;
        height: 100vh;
        border: 1px solid red;
    }
}



.marker {
    position: absolute; 
    width: 2.6rem;
    height:  3.6rem;
    left:  -1.3rem;
    top: -3.6rem;
    background-image: url('images/location.png');
    background-size: cover;

    &--hover,
    &:hover {
        background-image: url('images/location-highlighted.png');
    }
 
    &--hover {
        .hint__content  {
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    
}
 